/node_modules
/vendor
/public/hot
/public/storage
/storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/views/*
storage/framework/sessions/*
storage/framework/testing/*
bootstrap/cache/*.php
.env
.env.*
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.git
.github
Dockerfile
docker-compose.yml
README.md
tests